BaseColor {
    color:#280000;
    color:#bbbb33;
    color:#6A8E1D;
    color:#3B3A32;
    color:#da6606;
    color:#2E4D0F;
    color:#FFFF92;
    color:#000000;
    color:#5b991f;
    color:#505050;

    background-color:#000000;
    background-color:#280000;
    background-color:#1F280F;

    font-color:#FF5701;
    font-color:#BD2A1E;
    font-color:#00A6BF;
    font-color:#8237AC;
    font-color:#00D200;

    040,000,000
    126,043,000
    218,102,006
    255,087,001
    000,154,000
}